.container{
    padding-top:30px;
    padding:15px;
    width:90vw;
    .row{
        display: flex;
        justify-content:flex-start;
        align-items:flex-start;
        flex-direction: row;
        width:100%;
        @media (max-width:768px){
            flex-direction: column;
        }
        .col{
            box-shadow: 4px 5px #b9b8b8;
            min-height:360px;
            width:50%;
            margin: 10px;
            @media (max-width:768px){
                width:95%;
                min-height:180px;
            }
            @media (min-width:768px) and (max-width:937px){
                min-height:380px;
            }
        }
        .subcontainer{
            display: flex;
            justify-content:flex-start;
            align-items:flex-start;
            flex-direction: row;
            width:50%;
            flex-wrap: wrap;
            @media (max-width:768px){
                flex-direction: column;
                width:100%;
            }
            .col_right_up{
                box-shadow: 4px 5px #b9b8b8;
                min-height:120px;
                width:44%;
                margin: 10px;
                padding-left:4px;
                padding-right:4px;
                @media (max-width:768px){
                    width:95%;
                }
                @media (min-width:768px) and (max-width:821px){
                    width:42%;
                }
                background-image: linear-gradient(to right top, #46f07d, #33ef8f, #20ee9f, #10edae, #12ebbb);
                text-align: center;
                div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }
                p{
                    font-size: 18px;
                    font-weight: bold;
                    color:floralwhite;
                }
                // background-image: linear-gradient(to top, #a0f013, #b2f009, #c4ef03, #d4ef04, #e3ee0c);
            }
            .col_right_down{
                box-shadow: 4px 5px #b9b8b8;
                min-height:220px;
                width:44%;
                margin: 10px;
                @media (max-width:768px){
                    width:95%;
                }
                @media (min-width:768px) and (max-width:821px){
                    width:42%;
                }
                background-image: linear-gradient(to right top, #1ca9cd, #00bcd3, #00ceca, #00deb3, #12eb90);
                text-align: center;
                p{ 
                    font-size: 14px;
                    font-weight: bold;
                    color:floralwhite;
                }
                .top_res{
                    font-size: 18px;
                    font-weight: bold;
                    color:floralwhite;
                }
                .para{
                    display: flex;
                    align-items:flex-start;
                    flex-direction: column;
                    text-align:justify;
                    margin: 10px;
                }
            }
        }
    }
    .row2{
        margin-top:30px;
        display: flex;
        justify-content:flex-start;
        align-items:flex-start;
        flex-direction: row;
        width:100%;
        @media (max-width:768px){
            flex-direction: column;
        }
        .col2{
            box-shadow: 4px 5px #b9b8b8;
            min-height:500px;
            @media(min-width:1200px) and (max-width:1800px){
                min-height:400px;
            }
            @media(min-width:1800px){
                min-height:600px;
            }
            width:50%;
            margin: 10px;
            @media (max-width:768px){
                width:95%;
                min-height:170px;

            }
            background-image: linear-gradient(to right top, #95b0b6, #80999f, #6c8389, #586e73, #45595e);
        }
        .col2_left{
            box-shadow: 4px 5px #b9b8b8;
            min-height:500px;
            @media(min-width:1200px) and (max-width:1800px){
                min-height:400px;
            }
            @media(min-width:1800px){
                min-height:600px;
            }
            width:25%;
            margin: 10px;
            margin-bottom: 5px;
            padding: 5px;
            @media (max-width:768px){
                width:95%;
                min-height:170px;
            }
            .top_recommendation{
                display: flex;
                flex-direction: column;
                align-items:flex-start;
            }
            // background-image: linear-gradient(to right top, #2664ce, #008be9, #00aef4, #00cef4, #0cecee);
            // background-image: linear-gradient(to top, #df1220, #db0134, #d50044, #cd0c52, #c21a5e);
        }
        .sales{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: justify;
            padding:5px;
            p{
                font-weight: bold;
                color:black;
            }
            .avg_sales{
                font-size: 18px;
                font-weight: bold;
                color:floralwhite;
            }
        }
    }
}
.textarea {
    width: 800px;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    margin:10px;
    resize: none;
    @media(max-width:820px){
        width:80%;
    }
}
.label{
    margin:10px;
    font-weight: 700;
}
.container_review{
    margin: 20px;
    box-shadow: 4px 5px 4px 5px #b9b8b8;
}
.input{
    margin:10px;
    width:200px;
    height:40px;
    border:none;
    outline: none;
    font-size:15px;
    border-bottom:2px solid black;
}
.reviews{
    margin: 20px;
    margin-top:5px;
    box-shadow: 4px 5px 4px 5px #b9b8b8;
}
.box{
    background-image: linear-gradient(to right bottom, #19b9ea, #00caeb, #00d9d4, #00e4a8, #12eb6b);
    font-family: sans-serif; 
}
.box2{
    background-image: linear-gradient(to right bottom, #10f1a6, #00f18d, #0def70, #2eee4d, #47eb12);
    font-family: sans-serif; 
}
.box3{
    background-image: linear-gradient(to left top, #8ef103, #a0ee00, #afeb00, #bde806, #c9e512);
    font-family: sans-serif; 
}
.neonText {
    animation: flicker 1.5s infinite alternate;
    color: rgb(25, 126, 208);
    font-family: "Vibur", sans-serif;  
}
@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(0, 255, 153),
        0 0 80px rgb(0, 255, 153),
        0 0 90px rgb(0, 255, 153),
        0 0 100px rgb(0, 255, 153),
        0 0 150px rgb(0, 255, 153);
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}
.blueText {
    animation: flicker 1.5s infinite alternate;
    color: rgb(25, 126, 208);
    font-family: "Vibur", sans-serif;  
}
@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(0, 255, 153),
        0 0 80px rgb(0, 255, 153),
        0 0 90px rgb(0, 255, 153),
        0 0 100px rgb(0, 255, 153),
        0 0 150px rgb(0, 255, 153);
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}
.CircularProgressbar_text {
    fill: rgb(27, 118, 160);
}
  