.paymentContainer{
    margin-top:15px;
    width: 100%;
    min-height: 87vh;
    text-align: center;
    margin-bottom: 15px;
    p{
        font-size: 22px;
        font-weight: bold;
        color: rgb(8, 108, 175);
    }
    .paymentSubContainer{
        width:90%;
        min-height:120vh;
        box-shadow: 4px 5px #b9b8b8;
        background-color:#fff;
        border-radius:10px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin: auto;
        @media (max-width:890px){
            flex-direction: column;
            min-height:200vh;
            width:70%;
        }
        @media (max-width:600px){
            width:70%;
            min-height:245vh;
        }
        @media (max-width:400px){
            width:90%;
            min-height:250vh;
        }
        .col1{
            width:50%;
            border-right: 2px solid #ccc;
            color:rgb(0, 136, 255);
            @media(min-width:900px){
                min-height:120vh;
            }
            @media (max-width:890px){
                width:100%;
                justify-content: center;
                align-items: center;
                border-right: none;
            }
        }
        .col2{
            width:50%;
            display: block;
            @media (max-width:890px){
                width:100%;
            }
            .card {
                width:100%;
                height:25vh;
                // @media (max-width:800px){
                //     display:flex;
                //     justify-content: center;
                //     align-items: center;
                // }
            }
            .form{
                height:5vh;
                margin-top:5px;
                margin-left: 20%;
                form{
                    margin-bottom: 5px;
                    @media(max-width:890px){
                        margin-top: 50px;
                    }
                }
                input {
                    display: block;
                    box-sizing: border-box;
                    width: 71%;
                    border-radius: 4px;
                    border: 1px solid white;
                    background-color:rgba(230, 225, 225, 0.621);
                    padding: 15px 15px;
                    margin-bottom: 10px;
                    font-size: 14px;
                }
                    
                    label {
                    line-height: 2;
                    text-align: left;
                    display: block;
                    margin-bottom: 10px;
                    margin-top: 20px;
                    color: black;
                    font-size: 16px;
                    font-weight: 700;
                    }
                    
                    input:disabled {
                    opacity: 0.4;
                    }
                
                    
                    .App {
                    max-width: 600px;
                    margin: 0 auto;
                    }
                    
                    pre {
                    color: white;
                    }
                    
                    hr {
                    margin-top: 30px;
                    }
                      
                    .inp:hover{
                        border:2px solid gray;
                        // outline:2px solid rgb(190, 27, 27);
                    }
            }
        }
    }
}